* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  bottom: 10%;
  padding: 2%;
}
.main>input{
    width: 90%;
    border: 1px solid black;
    padding: 1rem;
    margin: 2% 0;
    outline: none;
    font-size: medium;
}
.main>button{
    width: 50%;
    margin-top: 7%;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: medium;
    background-color: rgb(57,103,254);
    color: white;
}