*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 87vw;
}
.recharts-wrapper:focus {
  outline: none;
}

.grid{
    height: 85vh;
    width: 100%;
    display: grid;
    gap: 2%;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    padding: 0% 1%;
}
.grid>div{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1%;
}
.grid1{
    grid-row: 1/4;
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.grid2{
    grid-row: 1/4;
    grid-column: 4/7;
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: center;

}
.grid3{
    grid-row: 1/4;
    grid-column: 7/10;
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: center;
}
.grid4{
    grid-row: 1/4;
    grid-column: 10/13;
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: center;
}
.logoButton{
    background-color: rgb(235, 235, 235);
    padding: 1rem;
    border-radius: 50%;
}
.divdetails{
    height: 40%;
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
.tag{
    color: grey;
}
.value{
    font-size: large;
    font-weight: 600;
}
.grid5{
    grid-row: 4/9;
    grid-column: 1/10;
}
.grid6{
    grid-row: 4/9;
    grid-column: 10/13;
    overflow: auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.li{
    margin-top: 1rem;
    list-style: disc;
    color: gray;

    /* margin-left: 0.4rem; */
}
.innerList{
    width: 80%;
}
.grid7{
    grid-row: 9/13;
    grid-column: 1/13;
    overflow: auto;
}

.title{
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 1%;
}
.tableHead{
    width: 100%;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid rgb(234,236,240);
    border-bottom: none;
    padding-left: 10%;
    gap: 10%;
}
.name{
    margin-right: 10%;
}.center{
  height: 100%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
