*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 9.3%;
    border-top: 2px solid rgb(234,236,240);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1%;
    position: relative;
}
.abc{
    /* background-color: grey; */
    padding: 2%;
    border: 2px solid rgb(234,236,240);
    border-radius: 10px;
}
.profile{
    padding: 1em;
    border-radius: 50%;
    background-color: rgb(252,242,234);
    color: rgb(229,78,70);
    margin-right: 3%;
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.main:hover{
    background-color: rgb(243, 243, 243);
}
.name{
    width: 15%;
    margin-right: 4%;
}
.id{
    width: 14%;
    color: rgb(9,29,63);
    margin-right: 4%;
}
.assigned{
    width: 9.5%;
    text-align: center;
    margin-right: 8.2%; 
    color:rgb(97,97,97);
    text-align: center;
}
.closed{
    width: 8%;
    text-align: center;
    margin-right: 8%;
    color:rgb(97,97,97);
}
.status{
    padding: 0.5em 0;
    width:5.5%;
    text-align: center;
    margin-right: 7%;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
.circle{
    width: 10%;
    height: 1vh;
    /* border: 1px solid black; */
    border-radius: 50%;
}
.inactive{
    background-color: rgb(229,78,70);
}
.active{
    background-color: rgb(103,185,106)
}
.activeDiv{
    background-color: rgb(235,252,243);
}
.inactiveDiv{
    background-color: rgb(252,242,234);
}
.activeP{
    color: rgb(68,125,76);
}
.inactiveP{
    color: rgb(229,78,70);
}
.p{
    font-weight: 600;
}

.options{
    width:6%;
    text-align: center;
    background:none;
    cursor: pointer;
}
.edit{
    position:absolute;
    background-color: white;
    height: 12vh;
    width: 8%;
    border: 1px solid black;
    left: 85%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(205, 205, 205);
    padding: 2% 1%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50%;
    
}
.button{
    padding: 0.5em;
    width: 100%;
    text-align: justify;
    font-size: medium;
 
}
.tagStyle{
    margin-right: 10%;
}
.nameText{
    color: rgb(16,24,40);
    font-weight: 600;
    font-size: large;
}
.mailText{
    font-weight: 100;
    color: rgb(107,120,142);
}