*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 87vw;
}
.title{
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
   
 
}
.innerMain{
    width: 100%;
    height: 85vh;
    padding: 1%;
}
.profile{
    width: 100%;
    border-bottom: 1px solid grey;
    margin-top: 3vh;
}
.profile>p{
    border-bottom: 2px solid grey;
    width: 10%;
    text-align: center;
}
.form{
    padding: 2%;
    width: 100%;
}
.input{
    width: 40%;
    padding: 0.8rem;
    font-size: medium;
    border: 2px solid grey;
    outline: none;
    border-radius: 10px;
}
.label{
    color:grey ;
    font-size: large;

}
.saveButton{
    padding: 0.8rem;
    width: 10%;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(91, 91, 91);
    border-radius: 10px;
}